@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/* ----------------------------------- Colors */

.bg-color-name-title {
    background-color: #5abdb4;
}

.bg-color-three-reasons {
    background-color: cadetblue;
}

.bg-color-personal-info {
    background-color: #f4f4f4;
}

.bg-color-my-skills {
    background-color:rgb(109, 177, 148);
}

.bg-color-work-history {
    background-color: #f4f4f4;
}

.bg-color-contact-panel {
    background-color: rgb(168, 168, 129);
}

.bg-color-groups {
    background-color: rgb(167, 103, 103);
}

.bg-color-github {
    background-color: rgb(233, 177, 72);
}

.ui-menu-color-home {
    background-color: rgb(46, 124, 136);
}

.ui-menu-color-resume {
    background-color: rgb(77, 165, 128);
}

.ui-menu-color-contact {
    background-color: rgb(158, 160, 102)
}

.ui-menu-color-download {
    background-color: rgb(159, 126, 160)
}

.ui-menu-color-interests {
    background-color: rgb(143, 69, 69);
}

.ui-menu-color-github {
    background-color: rgb(221, 147, 86);
}

/* ----------------------------------------------- Special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}

.general-sub {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    color:  #fafafa;
}

.inline-block {
    display: inline-block;
}

.row-table {
    display: table;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading {
    font-family: "Exo", sans-serif;
    font-weight: 300px;
    margin-top: 25px;
    margin-bottom: 40px;
}

/* ----------------------------------- Heading */

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url(../images/grant_jordan_wadi_rum_2.jpg);
    background-position: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 359px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 80px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0px;
}

#nav {
    margin: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color:#ccc;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: flexbox;
    color: #ccc;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

/* ----------------------------------------------- Footer */

footer {
    background-color: #5abdb4;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
    position: relative;
    align-items: center;
    display: grid;
}

.cv-pdf i{
    font-size: 18px;
    color: #fafafa;
    text-align: center;
    padding-left: 5px;
}

footer p {
    font-size: 16px;
}

footer a {
    margin: 5px;
}

footer i {
    color: white;
    display: block;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    margin: 3px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    background-color:darkcyan;
}

#footer-details {
    padding: 44px 20px;
    
}


/* ----------------------------------------------- Section */

section h3 {
    padding-left: 10px;
    color: white;
}


/* ----------------------------------------------- three reasons */

.row p {
    color: white;
}

.three-reasons-icon {
    color: white;
    font-size: 28px;
}

.three-reasons-heading {
    margin-bottom: 15px;
    color: white;
}


/* ----------------------------------------------- Personal Info */

#personal-info-heading {
    color: teal;
}

.personal-info-item .key,
.personal-info-item .value {
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.personal-info-item .key,
.personal-info-item .value {
    padding-right: 8px;
    display: inline-block;
}

.personal-info-item .key p,
.personal-info-item .value p {
    margin: 0;
}

.personal-info-item .key {
    width: 30%;
    margin-right: 21px;
    padding-top: 2px;
    vertical-align: top;
}

.personal-info-item .value {
    width: 60%;
}

.personal-info-item .key p{
    font-family: "Roboto" sans-serif;
    font-weight: 300;
    font-weight: bold;
    color: rgb(3, 73, 73);
}

.personal-info-item .value p{
    font-family: "Exo" sans-serif;
    font-weight: 400;
    color: rgb(3, 73, 73);
    word-wrap: break-word;
}



/* ----------------------------------------------- Skills */

.progress-container {
    background-color: #fafafa;
    padding-top: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    margin: 30px 40px 20px 40px;

}

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
    background-color: lightgrey;
}

.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 4px 10px;
    color: #fafafa;
    background-color: rgba(25,25,25,0.2);
}


/* ----------------------------------------------- Work History */

#work-history-heading {
    color: rgb(77, 165, 128);
    margin-bottom: 50px;
}

.timeline-item h4 {
    color: rgb(77, 165, 128);
}

.timeline-item p {
    color: rgb(77, 165, 128);
    padding: 0;
    margin: 0;
}

.timeline-item {
    padding: 4em 2em 0em 3em;
    position:relative;
    color: rgb(77, 165, 128);
    border-left: 1px solid;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: " ";
    background-color: rgb(77, 165, 128);
}

.history-items {
    margin-bottom: 30px;
}

/* ----------------------------------------------- Contact Heading Box */

#contact-heading {
    color: rgb(142, 143, 110);
    text-align: center;
    margin-bottom: 20px;
}

#contact-sub-heading {
    color: rgb(168, 168, 129);
    font-family: "Exo", sans-serif;
    text-align: center;
    font-size: 23px;
}

.inspire-quote-box {
    margin:auto 0;
    text-align: center;
    padding-top:70px;
    padding-bottom: 50px;
}

.inspire-quote-box p {
    color: darkslategray;
    font-weight: 300;
    font-family: "Exo", sans-serif;
    font-size: 30px;
    font-style: italic;
    
}

/* ----------------------------------------------- Contact Form Box */

.center-form {
    margin: 0 auto;
    max-width: 80%;
    font-family: "Exo", sans-serif;
    padding-top: 70px;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 40px;
    color: #fafafa;
    border-width: 0px;
}

.form-control {
    margin: 6px 0 0 6px;

}

/* ----------------------------------------------- Interest headings */

#interests-heading {
    color: rgb(160, 89, 89);
}

/* ----------------------------------------------- Interest headings */

#interests-heading {
    color: rgb(160, 89, 89);
}

/* ----------------------------------------------- Media-Queries */



@media(min-width: 700px){
    .center-form {
        margin: 0 auto;
        min-height: 300px;
        max-width: 75%;
    }
}